.menu
{
  background-color: #009999;
  font-family: "Sans-serif";
}

.menu a
{
  color: #FFFFFF;
  text-decoration:none;
}

.menu a:hover
{
  text-decoration:underline;
}

.menu li 
{
  display:inline;
}

.menu ul > li:first-child{
  
  float: right;
  margin-right: 150px;
  font-family: "Sans-serif";
  border:2px none white;
}